<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>Criminal Face Detection</title>
  <link rel="icon" href="static/images/mini.png" type="image/icon type">

  <!-- slider stylesheet -->
  <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/assets/owl.carousel.min.css" />

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css" />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Roboto:400,500&display=swap"
    rel="stylesheet" />
  <!-- Custom styles for this template -->
  <link href="../static/css/style.css" rel="stylesheet" />
  <!-- responsive style -->
  <link href="../static/css/responsive.css" rel="stylesheet" />
</head>

<body>
  <!-- header section strats -->
  <header class="header_section">
    <div class="container"style="margin-left: 164.444;margin-right: 0px;margin-left: 0px;">
      <nav class="navbar navbar-expand-lg custom_nav-container ">
        <a class="navbar-brand" href="{{url_for('index')}}">
          <div class="logo_box">
            <img src="../static/images/logo6.jpg" class="nav-link" href="{{url_for('index')}}"alt=""style="width: 200px;height: 110px;margin-left: 0px;"/>
          </div>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto mr-2">
            <li class="nav-item active">
              <a class="nav-link" href="{{url_for('index')}}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('about')}}">About Us </a>
            </li>
            <li class="nav-item">
              <!-- <a class="nav-link" href="service.html">Services</a> -->
            </li>
            <li class="nav-item">
              <!-- <a class="nav-link" href="blog.html">Blog</a> -->
            </li>
            <li class="nav-item">
              <!-- <a class="nav-link" href="contact.html">Contact us</a> -->
            </li>
            <li class="nav-item">
              <!-- <a class="nav-link" href="{{url_for('login')}}">Login </a> -->
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <!-- <input class="form-control nav_search-input mr-sm-2 d-none" type="search" placeholder="Search"
              aria-label="Search" value="" />
            <button class="btn  my-2 my-sm-0 nav_search-btn" type="submit"></button> -->
          </form>
        </div>
      </nav>
    </div>
  </header>
  <!-- end header section -->

<!-- security section -->
<br><br>
  <section class="security_section layout_padding">
    <h3>
      Log In 


    </h3>
    <h2>
      Admin  Login
    </h2>
    <div class="container" >
        <div class="row">
          <div class="col">
           
     <!-- Registration Start -->
     <div class="container-fluid py-5">
        <div class="container">
            <div class="row align-items-center">
                <!-- <div class="col-lg-7 mb-5 mb-lg-0">
                    <p class="section-title pr-5"><span class="pr-2">Book A Seat</span></p>
                    <h1 class="mb-4">Book A Seat For Your Kid</h1>
                    <p>Invidunt lorem justo sanctus clita. Erat lorem labore ea, justo dolor lorem ipsum ut sed eos,
                        ipsum et dolor kasd sit ea justo. Erat justo sed sed diam. Ea et erat ut sed diam sea ipsum est
                        dolor</p>
                    <ul class="list-inline m-0">
                        <li class="py-2"><i class="fa fa-check text-success mr-3"></i>Labore eos amet dolor amet diam</li>
                        <li class="py-2"><i class="fa fa-check text-success mr-3"></i>Etsea et sit dolor amet ipsum</li>
                        <li class="py-2"><i class="fa fa-check text-success mr-3"></i>Diam dolor diam elitripsum vero.</li>
                    </ul>
                    <a href="" class="btn btn-primary mt-4 py-2 px-4">Book Now</a>
                </div> -->
                <div class="col-lg-5" style="left: 318px;">
                    <div class="card border-0">
                        <center>
                            {% block body %}
                                {% if msg == 'success' %}
                                    <h3 style="color:Lightgreen">"Registration successful" </h3>
                      
                                {% endif %}
                            {% endblock %}
                            </center>
                        <div class="card-header bg-secondary text-center p-4">
                            <h1 class="text-white m-0">Admin LogIn</h1>
                        </div>
                        <div class="card-body rounded-bottom bg-primary p-5">
                            <form  action="{{url_for('admin_home')}}" method="post">
                                {{ name }}
                                <div class="form-group">
                                    <input type="text"  name = "useremail"class="form-control border-0 p-4" placeholder="Enter Your Email" required="required" />
                                </div>
                                <div class="form-group">
                                    <input type="password" name = "userpassword"class="form-control border-0 p-4" placeholder="Enter Your Password" required="required" />
                                </div>
                                
                                <div>
                                    <button class="btn btn-secondary btn-block border-0 py-3" type="submit">Submit</button>
                                </div>
                            </form>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Registration End -->
        
          </div>
          <!-- <div class="col"> -->
            <!-- Column -->
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end security section -->















   <!-- info section -->
   <section class="info_section layout_padding">
    <div class="container">
      <div class="row">
        <div class=" col-md-4 info_detail">
          <div>
            <h3  style="color: white;">Criminal Detection Using Face Recognition:</h3>
            <p>
                The purpose of this system is to detect whether the person is criminal or not and also read 
                the facial expressions of the person. It can be used by people to prevent themselves from 
                becoming the victim of crime and can also be used by police to catch the criminals.
            </p>
          </div>
        </div>
        <div class=" col-md-4 address_container">
          <div>
            <h3>
              Address:
            </h3>
            <div class="address_link-container">
              <a href="">
                <img src="static/images/location.png" alt="">
                <span> Address: 73 Canal Street, New York, NY
                </span>
              </a>
              <a href="">
                <img src="static/images/phone.png" alt="">
                <span> Tel: +1 123 456 789
                </span>
              </a>
              <a href="">
                <img src="static/images/mail.png" alt="">
                <span>
                  Email: demo@gmail.com
                </span>
              </a>
            </div>
          </div>
        </div>
        <div class=" col-md-4 news_container">
          <div>
            <div>
              <h3>
                newsletter

              </h3>
              <form action="">
                <input type="email" placeholder="ENTER YOUR EMAIL">
                <div>
                  <button type="submit">
                    Subscribe
                  </button>
                </div>
              </form>
            </div>
            <div class="social_container">
              <div>
                <img src="static/images/fb.png" alt="">
              </div>
              <div>
                <img src="static/images/twitter.png" alt="">
              </div>
              <div>
                <img src="static/images/linkedin.png" alt="">
              </div>
              <div>
                <img src="static/images/youtube.png" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end info section -->


  <!-- footer section -->
  <section class="container-fluid footer_section">
    <p>
      <!-- Copyright &copy; 2019 All Rights Reserved By -->
      <!-- <a href="https://html.design/">Free Html Templates</a> -->
    </p>
  </section>
  <!-- footer section -->

  <script type="text/javascript" src="static/js/jquery-3.4.1.min.js"></script>
  <script type="text/javascript" src="static/js/bootstrap.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/owl.carousel.min.js">
  </script>
  <script type="text/javascript">
    $(".owl-carousel").owlCarousel({
      loop: true,
      margin: 20,
      nav: true,
      navText: [],
      autoplay: true,
      autoplayHoverPause: true,
      responsive: {
        0: {
          items: 1
        },
        600: {
          items: 2
        },
        1000: {
          items: 3
        }
      }
    });
  </script>

  <script>
    $(".nav_search-btn").click(function () {
      if ($(".nav_search-input").hasClass("d-none")) {
        event.preventDefault();
        $(".nav_search-input")
          .animate({
              left: "-1000px"
            },
            "1000000"
          )
          .removeClass("d-none");
      } else {
        $(".nav_search-input")
          .animate({
              left: "0px"
            },
            "1000000"
          )
          .addClass("d-none");
      }
    });
  </script>





</body>

</html>